<!DOCTYPE html5>
<html>
<head>
  <title>Andrew Russell - The Story of a Rock Opera</title>
  <meta itemprop='image' content='http://ajrussell.ca/data/images/personalProjects/Personal%20Website.png'>

  <link rel='stylesheet' type='text/css' href='/rock_opera/main.css'>

  <script type='text/javascript'>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22276754-1']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
  </script>
</head>

<%
  var album = artists[0].albums[0]

  function getFirstSong(ext) {
    return 'data/audio/Solo Works/Rock Opera/' + album.songs[0].name + '.' + ext;
  }

  function parseSongName(name) {
    return name.split(', ').join(' => ');
  }
%>

<body class='main'>
  <header class='header'>
    <h1>Rock Opera - Needs a name</h1>
    <h2>- by Andrew Russell</h2>
  </header>

  <div class='audio'>
    <p id='status' class='status'>Now Playing: 1. <%= parseSongName(album.songs[0].name) %></p>
    <audio class='player' id='audio' preload='auto' tabindex='0' controls='' type='audio/mpeg'>
      <source type='audio/mp3' src='<%= getFirstSong('mp3') %>'>
      <source type='audio/ogg' src='<%= getFirstSong('ogg') %>'>
      Sorry, your browser does not support HTML5 audio. Please download the album using the above link to listen to it.
    </audio>
    <div class='error' id='error'></div>
  </div>

  <section class='content'>
    <p class='title'>Rock Opera - Yet to be named</p>
    <a href='/data/audio/Solo Works/Rock Opera.zip' download='Rock Opera.zip'>Download Album</a>
    <p class='subtitle'>Running time: 62ish minutes</p>
    <p class='subtitle'><b>Note:</b> These are all demos. This means that some instruments are synthesized and all singing parts, including the female ones, are sung by me.</p>

    <p class='title-description'>I started writing this Rock Opera sometime in the early-2010's. I don't really remember the exact date. I had recently been listening to The Who's Tommy and Quadrophenia and was very caught up in the overall flow of the music. I had written many songs before, but had never written a story told by music.</p>
    <p class='title-description'>It took me a while to get started. I didn't have a clue what to write about at first. It wasn't until I happened to be playing guitar one day, and played two of my older songs 'Farther Away' and 'Boy' back-to-back that I got an idea. The two songs fit well together musically, and there was an opportunity for a story. 'Farther Away' was written as a grade 12 English project. Instead of writing a book report, I was able to convince my English teacher to write a song. The book in question is Oryx and Crake by Margaret Atwood (I highly recommend it!!) and this rock opera has been heavily influenced by it. 'Boy', on the other hand, was an unnamed song (yes, I know, I'm terrible at naming things) from I don't even know when. I first remember playing it during a lunch hour in Grade 9, though it probably did not have any lyrics back then. It was simply a song complaining about relationships, as highschool students are wont to do. I have also rewritten parts of its intro many times. From these two songs, I started writing.</p>
    <p class='title-description'>Progress was slow until I started grad school at CMU. I was in the music and tech department and had the opportunity to take composition lessons as part of the program. It was here that my teacher, Nancy Galbraith, convinced me to leave my comfort zone and expand the arrangements. At first, I was just going to write it for my typical four piece band, but it got expanded to include the flute, viola, trumpet, percussion, and four part SATB vocals. I also made more progress here due to actually having weekly lessons where I was expected to make progress.</p>
    <p class='title-description'>Now that I've finished writing all the songs and recorded the demos, what now? Well, I'm still not 100% completed. If you haven't noticed yet, I'm pretty terrible at naming things. Almost every song needs a new name, not to even mention the name of the whole thing, or even any of the characters' names (side note: I named the father 'Jerry' for a while, but thought it sounded dumb so I nixed it). I am also not 100% happy with all of the lyrics, so some of them may still change. I guess I could also create some artwork / images. But mainly I really need to finish the sheet music. If I want this ever recorded / performed, having good sheet music will be very important! Otherwise, I guess I have to figure out what to do with it. Do I try and get it performed somewhere? Properly record it? Get someone to choreograph it or even write dialogue for outside of the songs? Who knows.</p>
    <p class='title-description'>Anyways, I hope you enjoy. I'd love to here any feedback, questions, comments, etc, you have! You can reach me at <a href='mailto:deadhead.russell@gmail.com'>deadhead.russell@gmail.com</a></p>
  </section>

  <section class='content' id='songs'>
    <% var extra = 0;
      for (var i = 0; i < album.songs.length; i++) {
      var song = album.songs[i]; %>
      <div class='song <%= i == 0 ? 'current' : '' %>' data-song-name='<%= song.name %>' data-song-index='<%= (i + extra + 1) %>'>
        <button class='play-btn' onclick='play(<%= i %>)'>
          <img class='play-btn-icon' src='/rock_opera/play.svg'>
        </button>
        <p class='name'><%= (i + extra) + 1 %>. <%= parseSongName(song.name) %></p>
        <div class='description'>
          <p><%- song.description.split('\n').join('</p><p>') %></p>
        </div>
        <% if (song.lyrics) { %>
          <p class='lyrics'>
            <b>Lyrics:</b><br><br>
            <%- song.lyrics.split('\n').join('<br>') %>
          </p>
        <% } %>
      </div>
      <% if (song.name.indexOf(', ') >= 0) {
        extra++;
      }
    } %>
  </section>

  <a class='license' rel='license' href='http://creativecommons.org/licenses/by-nc/4.0/'><img alt='Creative Commons License' style='border-width:0' src='https://i.creativecommons.org/l/by-nc/4.0/88x31.png' /></a><br />This work is licensed under a <a rel='license' href='http://creativecommons.org/licenses/by-nc/4.0/'>Creative Commons Attribution-NonCommercial 4.0 International License</a>.

  <script type='text/javascript' src='/rock_opera/main.js'></script>
</body>

</html>

